h1 {
    font-size: 64px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-background {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.85);
}

content {
    display: block;
    margin-bottom: 20vh;
}

article .vertical-whitespace {
    margin-top: 48vh;
}

.light-background {
    margin-bottom: 25vh;
    width: 60vw;
    min-width: 656px;
    padding: 32px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.75);
    font-size: 32px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.light-background ul {
    margin-top: 16px;
    font-size: 24px;
    position: relative;
    left: 64px;
    width: calc(100% - 64px);
}
.light-background ul li {
    margin: 8px 0;
}

.light-background h2 {
    margin-bottom: 16px;
    font-size: 40px;
}

table {
    width: 100%;
}
table thead tr {
    text-align: left;
}

.light-background hr {
    margin: 16px 0;
}

/* ------------------------------------------- */
/* Responsive Design */
@media only screen and (max-width: 720px) {
    h1 {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        justify-content: flex-start;
        padding-left: 16px;
        font-size: 40px;
    }
    .header-background {
        background-color: transparent;
    }
    article p {
        min-width: initial;
        width: calc(90vw - 64px);
    }
}